<?xml version="1.0" encoding="utf-8" ?>
<castle>
	<components>
		<component id="AuctionSource"
							 service="Czf.Domain.Interfaces.Sources.IAuctionSource, Czf.Domain"
							 type="Czf.Sources.AuctionSource.StubAuctionSource, Czf.Sources.AuctionSource"
							 lifestyle="PerWebRequest">
		</component>
</components>
</castle>