<?xml version="1.0" encoding="utf-8" ?>
<castle>
	<components>
		<component id="AuctionSource"
							 service="Czf.Domain.Interfaces.Sources.IAuctionSource, Czf.Domain"
							 type="Czf.Sources.AuctionSource.StubAuctionSource, Czf.Sources.AuctionSource"
							 lifestyle="Singleton">
		</component>
		<component id="AuctionSettings"
							 service="Czf.Domain.Interfaces.IAuctionSettings, Czf.Domain"
							 type="Czf.Sources.AuctionSettings.StubAuctionSettings, Czf.Sources.AuctionSettings"
							 lifestyle="Singleton">
		</component>
</components>
</castle>